$primaryHeading: #000080;
$techForingBlue: #182f59;
$primaryText: #333333;
$techForingGreen: #25c12d;
$grayBackground: #ddd;
$secondaryColor: hsl(0, 0%,100%);
$overlayColor: hsla(0, 0%, 0%, 0.38);
$indexCardIconColor: hsl(100, 49%, 59%);

//fonts size
$font-xs: .75rem;
$font-sm: .875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xlg: 1.25rem;
$font-xxlg: 1.4rem;


// border design

$border-pill: 50px;
$border-rounded: 10px;
$border-circle: 50%;